
    <div class="container">
      <div class="galleria">
        <p-galleria
          [value]="images"
          [responsiveOptions]="responsiveOptions"
          [numVisible]="5"
          [circular]="true"
          [autoPlay]="true"
          [transitionInterval]="2000"
        >
          <ng-template pTemplate="item" let-item>
            <img
              class="img-fluid"
              [src]="item.previewImageSrc"
              style="width: 100%; display: block"
            />
          </ng-template>
          <ng-template pTemplate="thumbnail" let-item>
            <div class="p-grid p-nogutter p-justify-center">
              <img
                class="img-fluid"
                [src]="item.thumbnailImageSrc"
                style="display: block"
              />
            </div>
          </ng-template>
        </p-galleria>
      </div>
    </div>
  