<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
      integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk"
      crossorigin="anonymous"
    />
    <title>Document</title>
  </head>
  <body>
    <div class="navbar">
      <P><i class="fas fa-lemon"></i></P>
      <ul>
        <li><a href="#About">About</a></li>
        <li><a href="#Products">Products</a></li>
        <li><a href="#Map">Map</a></li>
        <li><a href="#Contact">Contact Me</a></li>
      </ul>
    </div>
    <div class="container main_title">
      <h5>Welcome to Lemon <i class="fas fa-lemon"></i></h5>
      
    </div>

    <div class="container search_bar">
      <form class="d-flex">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-outline-success" type="submit">
          <i class="fas fa-search"></i>
        </button>
      </form>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-12 col-md-6 first_image">
          <img
            class="main_image img-fluid"
            src="./assets/images/mydesign.jpg"
          />
        </div>
        <div class="col-12 col-md-6">
          <img class="main_image img-fluid" src="./assets/images/design.jpg" />
        </div>
      </div>
    </div>
    <h5 id="About">About Us</h5>

    <div class="container line"></div>
    <div class="container accordion">
      <p-accordion>
        <p-accordionTab header="Who we are ?">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam.Lorem ipsum dolor sit amet, consectetur adipiscing elit,
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
          enim ad minim veniam.
        </p-accordionTab>
        <p-accordionTab header="What do we produce ?">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam.Lorem ipsum dolor sit amet, consectetur adipiscing elit,
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
          enim ad minim veniam.
        </p-accordionTab>
        <p-accordionTab header="Where are we?">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam.Lorem ipsum dolor sit amet, consectetur adipiscing elit,
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
          enim ad minim veniam.
        </p-accordionTab>
      </p-accordion>
    </div>
    <h5 id="Products">Products</h5>
    <div class="container line cheap"></div>
    <div class="container">
      <div class="first row">
        <div class="col-12 col-md-6">
          <img class="img-fluid" src="assets/images/table1.jpg" />
        </div>

        <div class="col-12 col-md-6">
          <h5>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam.Lorem ipsum dolor sit amet, consectetur adipiscing
            elit, sed do eiusmod tempor incididunt ut labore et dolore magna
            aliqua. Ut enim ad minim veniam.
          </h5>
        </div>
      </div>
      <div class="container line">.</div>
      <div class="second row">
        <div class="col-12 col-md-6 container">
          <h5>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam.Lorem ipsum dolor sit amet, consectetur adipiscing
            elit, sed do eiusmod tempor incididunt ut labore et dolore magna
            aliqua. Ut enim ad minim veniam.
          </h5>
        </div>
        <div class="col-12 col-md-6 second_image">
          <img class="img-fluid" src="assets/images/table2.jpg" />
        </div>
      </div>
      <div class="container-fluid line"></div>
    </div>
  </body>
</html>
